<mat-card class="chat-container">
  <mat-card-content>
    <mat-list  class="messages-list">
      <mat-list-item lines="100000" *ngFor="let message of chatMessages" [ngClass]="message.role">
        <span matListItemTitle class="hidden-title">Title</span>
        <mat-icon matListItemIcon *ngIf="message.role !== 'user'">face</mat-icon>
        <div class="message-content">{{ message.content }}</div>
      </mat-list-item>
      <!-- Custom Speech Bubble Throbber -->
      <mat-list-item *ngIf="loading || lessonLoading" class="loading-bubble">
        <div class="speech-bubble">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div> </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content class="input-container">
    <div class="button-container">
      <button mat-raised-button color="accent" (click)="sendPredefinedMessage('Ask me a practice question', 'with ' + lessonTopic + ' as a topic to practice, list the problem only one, for coding interview, show me the problem, and input and output')"  [disabled]="loading || lessonLoading" class="send-button primary-styled-button">I want to practice</button>
      <button mat-raised-button color="accent" (click)="sendPredefinedMessage('Tell me more about this topic', lessonTopic)"  [disabled]="loading || lessonLoading" class="send-button primary-styled-button">I want to learn more</button>
    </div>
    <mat-card-actions>
      <mat-form-field appearance="outline" >
        <input matInput [(ngModel)]="userMessage" placeholder="Enter your message" (keydown)="handleKeydown($event)" />
      </mat-form-field>
    </mat-card-actions>
    <div>
      <button mat-raised-button color="primary" (click)="sendMessage()"  [disabled]="loading || lessonLoading" class="send-button primary-styled-button">Send</button>
    </div>
  </mat-card-content>
</mat-card>
