.selected {
  border: 2px solid #005cbb;
}

.carousel-items div {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.carousel-items {
  display: flex;
  align-items: center;
  justify-content: start;
}

.carousel {
  overflow: auto;
  white-space: nowrap;
}

.scroll {
  width: 10px;
}
