<div class="content">
  <div class="left-side">
<!--    Two logos, TODO: Deside which one-->
    <img src="/learnify.svg" alt="">
<!--    <img src="/logo.svg" height="300" width="550" alt="">-->

    <p>Try without logging in!</p>

    <!-- Lessons button -->
    <div class="submit-button-container">
      <button mat-raised-button color="primary" type="button">Lessons</button>
    </div>
  </div>

  <div class="right-side">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <!-- Email input field -->
        <mat-form-field appearance="outline" class="login-input-container">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" [(ngModel)]="loginData.email" name="email" email required>
        </mat-form-field>

        <!-- Password input field -->
        <mat-form-field appearance="outline" class="login-input-container">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" [(ngModel)]="loginData.password" name="password" type="password" required>
        </mat-form-field>

        <!-- Submit button -->
        <div class="submit-button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>
      </form>
  </div>
</div>
