.content {
  /* alignment */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  /*style*/
  background-color: white;
  /*background-color: black;*/
  /*background-color: lightgray;*/
  /*color: #33806C;*/
}

/* Styles for the left and right content areas */
.left-side,
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 24px;
}

.left-side {
  /*background-color: black;*/

  /* alignment */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.right-side {
  align-items: center;
}
