.content {
  /* alignment */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  /*style*/
  background-color: white;
}

.left-side,
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 24px;
}

.left-side {
  /* alignment */
  justify-content: center;
  padding-left: 80px;
  align-items: flex-start;
  min-height: 100vh;
}

.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 500;
  font-size: 90px;
  color: #2962FF;
  font-style: normal;
}

.header-container {
  align-items: center;
  justify-content: flex-start;
}

.text-container p:nth-of-type(2) {
  margin-top: 50px;
}

.text-container {
  font-family: 'Comfortaa', sans-serif;
}

.primary-styled-button {
  padding: 15px;
  background-color: #dbdd80 !important;
  font-family: 'Comfortaa', sans-serif;
  color: #494f56 !important;
}

/* Styling for disabled state */
.primary-styled-button[disabled] {
  background-color: #e3e3e3 !important;
  color: #757575 !important;
}

.secondary-styled-button {
  font-family: 'Comfortaa', sans-serif;
  color: #494f56 !important;
}

.secondary-styled-button:hover {
  background-color: #dbdd80;
  color: #ffffff;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 80px;
}

.email-input {
  padding-right: 10px;
  padding-left: 60px;
  padding-bottom: 5px;
}

.login-button {
  margin-right: 10px;
  margin-left: 60px;
}

.submit-button-container{
  padding-top: 10px;
}
