/* Overall container */
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: white;
}

.left-side,
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 24px;
}

.left-side {
  justify-content: center;
  padding-left: 80px;
  align-items: flex-start; 
  min-height: 100vh;
}

.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 500;
  font-size: 90px;
  color: #2962FF;
  font-style: normal;
}

.header-container {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.text-container {
  font-family: 'Comfortaa', sans-serif;
  text-align: left; 
  width: 100%;
}

.text-container p:nth-of-type(2) {
  margin-top: 50px;
}

.primary-styled-button,
.secondary-styled-button {
  padding: 15px;
  font-family: 'Comfortaa', sans-serif;
  color: #494f56 !important;
}

.primary-styled-button {
  background-color: #dbdd80 !important;
}

.primary-styled-button[disabled] {
  background-color: #e3e3e3 !important;
  color: #757575 !important;
}

.secondary-styled-button {
  color: #494f56 !important;
}

.secondary-styled-button:hover {
  background-color: #dbdd80;
  color: #ffffff;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-right: 80px;
}

/* Input Group: Email and Password */
.input-group {
  justify-content: space-between;
  width: 100%;
}

.email-input,
.password-input {
  /* margin-bottom: 20px; */
  box-sizing: border-box; 
}

.email-input {
  margin-right: 20px; 
}

input[matInput] {
  width: 100%; 
  box-sizing: border-box;
}

/* Submit Button Container */
.submit-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.login-button,
.secondary-styled-button {
  margin-right: 10px; /* Space between buttons */
}

/* Media Queries */
@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Stack content vertically */
  }

  .left-side,
  .right-side {
    padding: 10px 20px;
  }

  .paytone-one-regular {
    font-size: 80px; /* Smaller heading */
    text-align: left; 
  }

  .text-container {
    text-align: left;
  }

  .input-group {
    width: 100%;
    min-width: 280px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  .email-input,
  .password-input {
 
    width: 100%;
    margin-right: 0;
    text-align: center; 
  }
  .email-input{
    padding-bottom: 10px;
  }

  .login-button,
  .secondary-styled-button {
    width: 90%; 
    margin-bottom: 10px; 
  }

  .submit-button-container {
    flex-direction: column; 
    align-items: center; 
  }
}

@media (max-width: 480px) {
  .content {
    padding: 10px;
  }

  .paytone-one-regular {
    font-size: 70px;
    text-align: left; 
  }

  .email-input,
  .password-input {
    width: 100%; 
    box-sizing: border-box;
    padding-left: 10px; 
    padding-right: 10px;
    text-align: center; 
  }

  .email-input{
    padding-bottom: 10px;
  }

  .right-side {
    padding-right: 20px;
    padding-left: 20px;
  }
}
