<app-navigation-bar></app-navigation-bar>
<div class="main-component">
  <div class="main-left-container">
    <img ngSrc="green_person.png" alt="Green Person" height="400" width="550" priority="true">
    <h1 class="paytone-one-regular">Our Lessons</h1>
  </div>

  <div class="main-right-container">
    <h2 class="paytone-two-regular" *ngIf="!isLoggedIn">Login to see more lessons!</h2>
    <mat-card appearance="outlined">
      <mat-card-content class="card-content">
        <div class="lessons-buttons">
          <button mat-raised-button *ngFor="let lesson of lessons" (click)="getLessonContent(lesson.query, lesson.title)">
            {{ lesson.title }}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
