.main-component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 400px;
  background-image: url('../assets/chat_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.title-container {
  padding-left: 50px;
  padding-top: 40px;
  margin-bottom: 20px;
}

.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 500;
  font-size: 70px;
  color: #494f56;
  font-style: normal;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column; /* Change to column for mobile view */
  margin-bottom: 50px;
}

.left-side,
.right-side {
  flex: 1;
  margin: 10px;
}

@media (min-width: 768px) {
  .content-container {
    flex-direction: row; /* Change to row for large screen */
  }
}
