<app-navigation-bar [backgroundColor]="'#dbdd80'"></app-navigation-bar>
<div class="main-component">
  <div class="title-container">
    <h1 class="paytone-one-regular">{{ currentLesson }}</h1>
  </div>
  <div class="content-container">
    <div class="left-side">
      <app-chatbot [lessonContent]="lessonContent" [codeReview]="codeReviewRequest" [lessonTopic]="lessonTopic"></app-chatbot>
    </div>
    <div class="right-side">
      <app-code-editor (codeReviewRequest)="handleCodeReviewRequest($event)"></app-code-editor>
    </div>
  </div>
</div>
<app-footer></app-footer>
