.main-component {
  min-height: 100vh;
  min-width: 400px;
  background-image: url('../assets/chat_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 500;
  font-size: 70px;
  color: #494f56;
  font-style: normal;
}

.title-container {
  padding-left: 50px;
  padding-top: 40px;
}
