<h1 mat-dialog-title>New account</h1>
<div mat-dialog-content>

  <!-- Username input field -->
  <mat-form-field appearance="outline" class="login-input-container">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="data.username" placeholder="Enter your username" name="username" username required>
  </mat-form-field>

  <!-- Email input field -->
  <mat-form-field appearance="outline" class="login-input-container">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" placeholder="Enter your email" name="email" email required>
  </mat-form-field>

  <!-- Password input field -->
  <mat-form-field appearance="outline" class="login-input-container">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="data.password" placeholder="Enter your password" name="password" type="password" required>
  </mat-form-field>

  <!-- Repeat Password input field -->
  <mat-form-field appearance="outline" class="login-input-container">
    <mat-label>Repeat Password</mat-label>
    <input matInput placeholder="Enter your password" name="password" type="password" required>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.username"
          cdkFocusInitial>Ok</button>
</div>
