<h1 mat-dialog-title class="dialog-title" >New account</h1>
<div mat-dialog-content class="content">
  <form [formGroup]="form" (ngSubmit)="onOk()">
    <p class="avatar-title">Pick avatar*</p>
    <app-avatar-scroll [avatars]="avatars" [(currentAvatar)]="selectedAvatar" (avatarSelect)="onAvatarSelected($event)"></app-avatar-scroll>
    <!-- Username input field -->
    <mat-form-field appearance="outline" class="login-input-container input username">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Enter your username" required>
      <mat-error *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
        {{ getError('username') }}
      </mat-error>
    </mat-form-field>

    <!-- Email input field -->
    <mat-form-field appearance="outline" class="login-input-container input email">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email" required>
      <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        {{ getError('email') }}
      </mat-error>
    </mat-form-field>

    <!-- Password input field -->
    <mat-form-field appearance="outline" class="login-input-container input password">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Enter your password" type="password" required>
      <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        {{ getError('password') }}
      </mat-error>
    </mat-form-field>

    <!-- Repeat Password input field -->
    <mat-form-field appearance="outline" class="login-input-container password">
      <mat-label>Repeat Password</mat-label>
      <input matInput formControlName="repeatPassword" placeholder="Enter your password again" type="password" required>
      <mat-error *ngIf="form.get('repeatPassword')?.invalid && form.get('repeatPassword')?.touched">
        {{ getError('repeatPassword') }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()" class="secondary-styled-button">No Thanks</button>
  <button mat-button (click)="onOk()" [disabled]="form.invalid || !selectedAvatar" class="primary-styled-button">Ok</button>
</div>
